header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
header img {
    width: 75px;
}
.navbar {
    display: flex;
}
.navbar a {
    color: #000;
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}
.navbar a:hover {
    color: var(--main-color);
}
.h-right {
    display: flex;
    align-items: center;
}
.h-right a:first-child {
    color: #000;
    font-size: var(--p-font);
    margin-right: 20px;
}
.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: #000;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}
.h-right a:hover {
    color: var(--main-color);
    transform: translateY(-3px);
}
#menu-icon {
    color: #000;
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}