.pillar-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.center-text-pillar {
    text-align: center;
    margin-bottom: 50px;
}
.center-text-pillar h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    color: #000;
}
.row-img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.row-img img {
    width: 100%;
    display: block;
    transition: transform .7s;
}
.row-img img:hover {
    transform: scale(1.2);
}
.pillar-content h4{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
    color: #000;
}
.pillar-content h4:hover {
    color: var(--main-color);
}